footer {
    max-width: 1280px;
    width: 100%;
    padding: 64px 32px 32px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    div.logo {
        display: flex;
        align-items: center;
        gap: 12px;

        font-family: "syne", sans-serif;
        font-weight: bold;

        & img {
            width: 32px;
            transition: transform 350ms;

            &:hover {
                transform: rotate(90deg);
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 32px;

        a {
            width: fit-content;
            position: relative;

            &:hover::after {
                transform: scaleX(1);
                opacity: 1;
            }
        }

        a::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: var(--snitap-sky-mid);

            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;

            transform: scaleX(0);
            transition: transform 200ms linear;
        }
    }

    div.social-links {
        display: flex;
        align-items: center;

        a {
            width: 40px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 80px; 
            
            position: relative;

            &:hover::before {
                scale: 1;
            }

            & img {
                width: 24px;
                height: 24px;
            }

            &::before {
                content: "";
    
                width: inherit;
                height: inherit;
                border-radius: inherit;
    
                background-color: var(--snitap-sun);
    
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                scale: 0;
                transition: scale 200ms;
            }
        }

    }
}